name: buildtex

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Install LaTeX, Russian, FontAwesome
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            latexmk \
            texlive-latex-base \
            texlive-latex-extra \
            texlive-fonts-recommended \
            texlive-lang-cyrillic \
            texlive-fonts-extra
      - name: Build PDF
        run: |
          cd syllabus && \
          latexmk -pdf -f ./*.tex
